POSTGRES_DB=project_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://neondb_owner:npg_uBjFYTn3HXA5@ep-withered-dust-apce23k0-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=super-secret-change-me
PORT=4000
FRONTEND_URL=gestordeproj-git-fix-vercel-8d8075-alexandres-projects-81bddb16.vercel.app
VITE_API_URL=https://gestordeproj-git-fix-vercel-8d8075-alexandres-projects-81bddb16.vercel.app/api
MAX_FILE_SIZE=20971520
UPLOAD_DIR=uploads
